
.container{
    display:flex;
    flex-direction: column;
    width: 50vw;
    margin:auto;
    text-align: center;
}

label{
    margin: auto;
    text-align: center;

}

input{
    margin: auto;
    text-align: center;
}

.list-inline{

    display: inline;
}
.navigation{
    background-color: aqua;
    padding: 2rem;
    border-radius: .5rem;
}
.list-non-bullet{
    list-style: none;
}

.nav-pills{
    text-align: right;
}

.active{
    text-decoration: none;
    font-weight: bold;
}

.link{
    text-decoration: none;
}

.quiz-form{
    display:inline
}